.top {
	margin: auto;
	height: 36px;
	background: #008080;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
}

.top-left {
	float: left;
}

.top-left h5 {
	font-size: 14px;
}

.top-left ul {
	list-style-type: none;
	padding: 10px 0px 0px 19px;
}

.top-left ul li a {
	float: left;
	margin-right: 8px;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
}

.top-right {
	padding-left: 230px;
	float: right;
}

.top-right ul {
	list-style-type: none;
	padding: 10px 0px 0px 19px;
}

.top-right ul li {
	float: left;
	margin-left: 18px;
}

.top-right ul li a {
	color: #FFFFFF;
}

.top-right ul li a:HOVER {
	color: orange;
}

.form-addNew {
	display: none;
	position: relative;
}

.form-blackCover {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.4;
	z-index: 10;
}

.form-contentAddNew {
	position: fixed;
	width: 75%;
	left: 20%;
	top: 20%;
	overflow: hidden;
	z-index: 11;
	border-radius: 7px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.form-titleAddNew {
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
	line-height: 35px;
	padding: 0px 15px;
	color: #333;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
}

.buttonExit {
	position: absolute;
	width: 3%;
	height: 25px;
	line-height: 25px;
	left: 96%;
	top: 5px;
	z-index: 12;
	background-color: #f5f5f5;
	text-align: center;
}

.buttonExit:hover {
	background-color: #5A8ED1;
}

.website {
	height: 135px;
}

.website-left {
	float: left;
	padding-left: 0px;
}

.website-right {
	float: right;
}

#shopcart {
	float: right;
	margin-right: 50px;
	position: relative;
	margin-top: 20px;
}

#info-cart {
	float: right;
	position: absolute;
	margin-right: 5px;
	color: #f1004c;
	text-align: center;
	border: 1px;
	margin-top: 20px;
	padding-left: 190px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 80%;
	margin: auto;
}

@media ( min-width : 768px) {
	.navbar-collapse {
		height: auto;
		border-top: 0;
		box-shadow: none;
		max-height: none;
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-collapse.collapse {
		display: block !important;
		width: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-x: visible;
	}
	.navbar {
		max-width: 300px;
		margin-right: 0;
		margin-left: 0;
	}
	.navbar-nav, .navbar-nav>li, .navbar-left, .navbar-right, .navbar-header
		{
		float: none !important;
	}
	.navbar-right .dropdown-menu {
		left: 0;
		right: auto;
	}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
}

.navbar-brand {
	height: 50px;
	padding: 13px 10px;
	font-size: 18px;
	line-height: 20px;
	width: 270px;
	background-color: #69ceef;
	padding
}
/* .navbar-brand:hover{
	display: none;
} */
.dropdown-toggle {
	background-color: #69ceef;
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding-left: 20px;
	width: 270px;
}

.dropdown-menu {
	width: 240px;
	background-color: #808000;
	padding-left: 0px;
	float: right;
}

.dropdown-menu li a {
	border-bottom: thin dotted black;
	line-height: 1.9;
	background-color: #808000;
}
.carousel {
    position: relative;
    width: 774px;
    height: 251px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    padding-top: 0px;
    height: 251px;
}